{% extends 'base.html' %}
{% block content %}
   
 {% for article in liste_articles %}
                    <div class="card w-100 p-3 m-5" >
                        <div class="card-body">
                            <h1 class="card-title">{{article.titre}}</h1>
                            <h6 class="card-subtitle mb-2 text-muted">{{article.date}}</h6>
                            <p class="card-text">{{article.description}}</p>
                            <a href="edit/{{ article.id}}" class="card-link">modifier</a>
                            <a href="delete/{{ article.id}}" class="card-link"><i class="far fa-trash-alt fa-lg text-danger"></i></a>
                        </div>

                        </div>
                    {% endfor %}
{% endblock %}