{% extends 'base.html' %}
{% block content %}
<div class="container">
    <a href="{% url 'ajout_article' %}">
       <button class="btn btn-primary "><i class="far fa-plus-square"></i> Ajouter un article</button>
    </a>
    {% if articles == None %}
    <h2>aucun article pour le monent</h2>
    {% else %}
        {% for article in articles %}
            <h1>{{article.titre}}</h1>
            <p>{{article.description}}</p>
            <p>{{article.categorie}}</p>
            <span>{{article.date}}</span>

    <a href="articles/edit/{{ article.id}}">
        <i class="fas fa-edit fa-lg text-warning p-2"></i>
    </a>
    <a href="articles/delete/{{ article.id}}" >
        <i class="far fa-trash-alt fa-lg text-danger"></i>
    </a>
        {% endfor%}
    {% endif %}


</div>

{% endblock %}